* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: default;
}

body {
    background-image: url('./assets/riccardo-chiarini-a4Swf9wzdKA-unsplash%20(1).jpg');
    background-size: cover;
    display: flex;
    justify-content: space-around;
}
.emoji {
    font-size: 80px;
    align-self: center;
}

/* Game and Players Sections */
.game-section {
    background-color: #90c5f6ee;
    width: 600px;
    display: flex;
    flex-direction: column;
    margin: 30px 0px 30px 0px;
}

.display-turn {
    align-self: center;
    margin: 30px;
}

.score,
.display-turn {
    font-size: 45px;
    border-radius: 10px;
    background-color: rgba(195, 191, 191, 0.7);
    padding: 0px 30px 0px 30px; 
}

.player-section {
    display: flex;
    flex-direction: column;
}

/* Grid */
.game-board {
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 200px 200px 200px;
}

.grid {
    font-size: 120px;
    padding-left: 30px;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
}

.bottom-grid,
.middle-grid {
    border-top: 1px solid grey;
}

.taken:active {
    opacity: .4;
    cursor: not-allowed;
}







